.fa{
	color:#CBB649;
	margin:0px 0px 0px 0px;
}

.img-box img{
	margin:-4px;
	}
.div{
animation-name: fadeIn;

background-color:#171717;
float: left;
font-family: "iransans";
font-size: 22px;
line-height: 20px;
margin-bottom: 15px;
text-align: center;
width: 100%;
}
.tamas{
	font-size: 25px;
	color: aliceblue;
}
.gif1{
	margin: 30px 0px 0px 0px;
	float: left;
}
nav{
	display: block;
	width: 100%;
	text-align: center;
}
table tr{
	background-color:aqua;
	
	}

ul li{
	display:inline-block;
	margin-left:25px;
	}
ul li a{
	text-decoration:none;
	font-size:25px;
	text-align: center;
	}
ul li a:hover{
	color:red;
	}
.t1{
	float:left;
    position: absolute;
    left: 8px;
    width: 250px;
    height: 1628px;
    top: 136px;
}

	.nav{
	background:#20ED31;
	width:100%;
	
	
	}
.main-menu{
	padding: 0;
	border-radius:100px;
	}
.s-menu{
	display:inline-block;
	position:relative;
	}
	.s-menu a{
		width:20%;
		}
li{
	list-style:none;
	background:#090023;
	}
a{
	text-decoration:none;
	font-size:168%;
	color:aliceblue;
	}
a:hover{
	color:blue;
	}	
.sub-menu{
	position:absolute;
	display:none;
	}		
.s-menu:hover .sub-menu{
	display:block;
	right:-40px;
	}


nav ul ul {
	display: none;
	
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background:#0C004A;
	box-shadow:0px 0px 9px rgba(0,0,0,0.15);
	padding:6 20px;
	border-radius: 15px;
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}


nav ul li {
	float: right;
	position: relative;
	font-weight: bold;
}

nav ul li:hover {
	background: #a70101;
}

nav ul li:hover a {
	color: #F9F9F9;
}

nav ul li a {
	display: block;
	padding: 20px 40px;
	color: antiquewhite;
	text-decoration:none;
}


nav ul ul {
	background: #9c0000;
	border-radius:0px;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	width: 20%;
}
nav ul ul li {
	float: none;
	border-top: 1px solid #940000;
	border-bottom: 1px solid #940000;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: aqua;
}	
nav ul ul li a:hover {
	background: #112f44;
}

nav ul ul {
	background: #9c0000;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	width: 100%;
}
nav ul ul li {
	float: none;
	border-top: 1px solid #940000;
	border-bottom: 1px solid #940000;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: #112f44;
}

ul li ul>li{
	width: 100%;
	}
.end-menu{
	top:0;
	right: 187px;
	}
	
.main-menu{
	width: 100%;
	padding:0;
	}
.main-menu>li{
	margin:0;
	width:20%;
	}
@media screen and (max-width:820px){
	nav ul li a{
		padding: 15px 9px;
		}
	}
@media screen and (max-width:570px){
	nav ul li a{
		font-size:18px;
		}
	}
@media screen and (max-width:430px){
	.main-menu > li{
		display:block;
		width:100%;
		}
	}
section{
	float: right;
	width: 24%;
}
.t2{
	float: right;
    left: 8px;
    width: 250px;
    height: 1628px;
    top: 136px;
}
.t2{
	margin:34px 0px 0px 0px;
}
.li1{
	right:25px;
}
.section{
	margin: 0px 0px;
}
.border{
	    Border-radius: 200px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.gmail {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0px;
	width: 400px;
	display: inline-block;
	margin-right: 900;
    margin-bottom: -7px;
    margin-top: -218px;
}
.img-box{
	position: relative;
	transition: all 0.5s;
	border: 5px solid #fff;
	border-radius: 15px;
	padding: 12;
}	
.img-box img{
	border:-2px solid #fff;
	border-bottom: none;
	border-radius: 19px;
	transition: all 0.5s;
	width: auto;
	height: 60%
}
.img-box:hover{
	border: 5px solid #666;
}
.img-box i {
	font-size: 0px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 0.5s;
}
.img-box:hover i{
	font-size: 40px !important;
	top: 50%;
}
.shadow{
	 position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background-color: #000000;
	opacity: 0;
	border-radius: 10px;
	transition: all 0.5s;
}
.img-box:hover .shadow{
	opacity: 0.6;
	height: 100%;
}
.tab{
	margin-right: 25px;
}
.tab2{

    margin-left: 34px;
}